:host {
  display: block;
  background-color: rgb(255, 102, 0);
  padding: 4px;
  overflow: hidden;
  contain: content;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

a.active {
  color: white;
}

b {
  padding: 0 4px;
}

span {
  color: white;
  display: inline-block;
  float: right;
  font-size: 9pt;
}

span a:hover {
  text-decoration: underline;
}